body {
    margin: 0;
}

.one {
    background-color: darkred;
    padding: 0 8px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.left {
    font-size: 24px;
    color: #F9FAF8;
}

.right {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}  

.hero {
    display: flex;
    color: #E5E7EB;
    padding: 5rem;
    gap: 2rem;
}

.hero1 {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    gap: 1rem;
}

.herotitle {
    font-size: 48px;
    font-weight: bolder;
}

button {
    background-color: rgb(49, 7, 7);
    color: #E5E7EB;
    width: 120px;
    height: 40px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
}

.burrows {
    height: min-content;
    width: 400px;
}